{% include 'base.html' with app="webfilm" %}
{% block content %}
<h2>vous avez recherché: "{{research}}"<h2>
<span>
{% if film  %}
<h2>films:</h2>
<div class="container">
    <div class="row">
        {% for film in film %}
            <div class='col-sm'>
            <div class='desc'>{{ film.titre }}</div>
            <a href="/webfilm/movie/{{film.id}}"><img width='auto' height='400px' src='{{film.affiche}}' alt=''></a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
</span>

<span>
{% if acteur %}
<h2>acteur:</h2>
{% for acteur in acteur %}
    <a href="/webfilm/actor/{{acteur.id}}"><div class='desc'>{{ acteur.prenom }} {{ acteur.nom }}</div></a>
{% endfor %}
{% endif %}
</span>

<span>
{% if role %}
<h2>role:</h2>
{% for role in role %}
    <a href="/webfilm/role/{{role.id}}"><div class='desc'>{{ role.role }}</div></a>
{% endfor %}
{% endif %}
</span>

{% if not film and not acteur and not role %}
<h2>dsl, aucune donnée ne correspond à votre recherche dans la DB</h2>
{% endif %}


{% if movies  %}
<div><h2>A voir aussi sur The Movie DB:</h2></div>
<div class="container">
    <div class="row">
        {% for movie in movies %}
            <div class='col-sm'>
            <div class='desc'>{{ movie.title }}</div>
            <div><img class="affiche" width='auto' height='300' src='https://image.tmdb.org/t/p/w500{{movie.poster_path}}' alt=''></div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{{myrequest}}
{% endblock %}
