{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>WebFilm</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'web_film_v2/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item {% if app == "webfilm" %}{{"active"}}{% endif %}"><a class="nav-link" href="{% url 'index_webfilm' %}">WebFilm</a></li>
                    <li class="nav-item deroulant">
                    <a class="nav-link {% if app == "blog" %}{{"active"}}{% endif %}" href="{% url 'index_blog' %}">blog<span class="sr-only">(current)</span></a>
                    <a class="nav-link cache" href="{% url 'contact' %}">contact</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}" target="_blank">admin</a></li>
                    
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{% url 'research_webfilm' %}" method="GET">
                    <input class="form-control mr-sm-2" name="research" type="search" placeholder="Film, Acteur, ..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="rechercher">Rechercher</button>
                </form>
            </div>
        </nav>

        {% block content %}{% endblock %}
    </body>
</html>
